/* Admin Component */
.adminComponent {
	display: flex;
	
	margin-top: 20px;
	gap: 50px;

	border: 2px solid black;
}

.adminNav {
	border: 2px solid red;
}

.selectedContent {
	width: 100%;

	margin: 50px;
}
/* -------------------- */

/* UsersList Component */
.listContainer {
	display: flex;
	flex-direction: column;
}
/* -------------------- */

/* UserContainer Component */
.userContainer {
	display: flex;
	justify-content: space-between;

	padding-inline: 20px;
	margin-bottom: 5px;

	border: 2px solid black;
}

.manageButtons {
	display: flex;
}
/* -------------------- */