/* Auth page style */
body {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	/* background-image: url("../images/background.jpg"); */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Signup & Login pages style */
.formWindow {
	width: 400px;
	height: auto;
	padding: 40px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 20px;
	border: 1px solid white;

	backdrop-filter: blur(10px) brightness(80%);
}

h1 {
	color: white;
	padding-bottom: 3%;
	font-family: "Impact";
}

form {
	width: 100%;
}

input {
	width: 100%;
	height: 40px;
	margin-bottom: 1%;
	margin-top: 1%;
	padding-left: 3%;
	box-sizing: border-box;

	color: white;
	border: 1px solid white;
	border-radius: 8px;
	background: transparent;
}

input:focus {
	background: rgb(0, 0, 0, 0.400);
	box-shadow: none;
}

input::placeholder {
	color: white;
}

input[type="submit"] {
	margin-top: 10px;

	background: whitesmoke;
	box-shadow: 0px 2px 0 grey, 2px 4px 6px grey;
	font-weight: 900;
	color: rgb(68, 68, 68);
	letter-spacing: 1px;
	transition: all 150ms linear;
}

input[type="submit"]:hover {
	cursor: pointer;

	background: rgba(245, 245, 245, 0.400);
	border: 1px solid rgba(245, 245, 245, 0.400);
	box-shadow: 1px 1px 2px rgba(245, 245, 245, 0.400);
	color: lightgray;
	text-decoration: none;
	transition: all 250ms linear;
}

small {
	margin-top: 10px;

	color: white;
}

.link {
	color: rgb(0, 255, 229);
}

.link:hover {
	color: rgb(184, 255, 248);
}

/* Login page */

/* Signup page */
.loginMessage {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 5%;
	margin-inline: 8%;

	color: greenyellow;
	font-size: smaller;
}

.registrationError {
	margin-top: 0px !important;
	margin-bottom: 5px;
	margin-inline: 8%;

	color: red;
	font-size: smaller;
}

.fieldError {
	text-align: left;
	margin-left: 4%;

	color: red;
}

.passwordErrorMessages {
	display: flex;
	flex-direction: column;

	color: red;
}

.ulPasswordErrors {
	margin-top: 0%;
	list-style-type: "- ";
}
